body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Imagen/alcohol-1961542_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
}

.logo img {
    width: 80%;
    margin: 0 auto 20px;
}

.menu-item {
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #c0a080;
    border-radius: 5px;
    display: block;
}

.menu-item:hover {
        background-color: #a07658;
}

.form-container {
    margin-left: 220px; /* Offset para no solapar el sidebar */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra el formulario en la pantalla horizontalmente */
}

.form-Fecha {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del formulario */
    gap: 10px; /* Espacio entre los campos del formulario */
}

.input-group {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro de cada grupo de input */
    gap: 5px; /* Espacio entre la etiqueta y el input */
}

    .input-group label {
        margin-right: 5px; /* Espacio a la derecha de cada etiqueta */
    }

    .input-group input[type="date"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 140px; /* Ancho específico para los inputs de fecha */
    }

.form-Fecha button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .form-Fecha button:hover {
        background-color: #45a049;
    }


.historial {
    margin-left: 200px; /* Debe ser mayor que el ancho del sidebar para evitar superposición */
    padding: 20px;
    height: 100vh;
    width: calc(100% - 200px); /* Ajusta el ancho restante */
}

.table {
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: white;
    opacity: 0.9; /* Agrega transparencia si lo deseas */
}
.buttons {
    position: fixed;
    bottom: 10px;
    left: 220px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    background: #888;
    color: white;
    border: none;
    cursor: pointer;
}

    .btn:hover {
        background: #555;
    }